.information {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
}

.information-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.information-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 180px;
    gap:10px;
}

.information-title {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    text-align: center;
}

.information-image {
    border: 4px solid #3882F6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.information-text {
    text-align: center;
}